i.fa.fa-fw.fa-user-times {
    color: #f5f2f5;
}

span a span {
    color: #ffffff;
}

div.column-back-button {
    color: #ffffff;
}

button.button {
    color: #000000;
    background-color: #ffffff;
}

div.drawer__inner div div {
    padding-top: 5px;
}

div.column-header {
    color: #ffffff;
}

div.column-icon {
    color: #ffffff;
}

div.react-toggle-track {
    color: #ffffff;
    background-color: #000000;
}

div.react-toggle-thumb {
    color: #ffffff;
    background-color: #ffffff;
}

span.setting-toggle span {
    color: #ffffff;
}

a.drawer__tab {
    color: #ffffff;
}

ul li a hover {
    background-color: #a15ca1;
}

button.btn {
    background-color: #ffffff;
    color: #000000;
}

#web a {
    color: #ffffff;
}

div.sidebar {
    color: #ffffff;
}

a.block-button {
    background-color: #ffffff;
    color: #000000;
}

a.selected {
    background-color: #254452;
    color: #ffffff;
}

a.columns-area {
    background-color: #000000;
}

div.privacy-dropdown__option.active {
    background-color: #050005;
}

div.privacy-dropdown__option.hover {
    background-color: #000000;
}

span.account__header__username {
    color: #ffffff;
}

img.emojione {
    background-color: #0f010f;
    color: #ffffff;
}
